.videocard{
    margin: 10px 20px;
    margin-bottom: 40px;
    width: 270px;
    transition: transform 100ms ease-in;
}

.videocard:hover{
    transform: scale(1.11);
}

.videocard_img{
    height: 140px;
    width: 250;
}

.videocard_info{
    display: flex;
    align-items: center;
    margin-top: 90px;
}
.videocard_text{
    margin-left: 10px;
}

.videocard_text > h4 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}
.videocard_text > p {
    color: gray;
    font-size: 14px;
}